@model AddUpdateAdminAppUserPageVM
@{
    ViewBag.Title = "UpdateAppUser";
}

<style>
    .genislik {
        width: 300px;
    }
</style>

@using (Html.BeginForm("UpdateAppUser", "AppUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x =>x.AdminAppUser.ID)
    <div class="row">
        <div class="col-sm-12">

            <section class="panel">
                <header class="panel-heading">
                    User Guncelleme Sayfası
                </header>

                <div class="panel-body">


                    <div class="form-group">
                        <label class="col-sm-2">UserName</label>
                        <div class="col-sm-10">


                            @Html.TextBoxFor(x => x.AdminAppUser.UserName, new { @class = "form-control-genislik" })
                        </div>
                    </div>


                    <br /> <br />

                    <div class="form-group">
                        <label class="col-sm-2">PassWord</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AdminAppUser.PassWord, new { @class = "form-control-genislik" })
                        </div>
                    </div>
                    <br /> <br />


                    <div class="form-group">
                        <label class="col-sm-2">İşlem:</label>
                        <div class="col-sm-10">
                            <button class="btn btn-primary">Guncelle</button>
                        </div>
                    </div>


                </div>


            </section>


        </div>
    </div>



}

